.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "nav"
    "main";
  row-gap: 10px;
  column-gap: 10px;
  padding: 0 6px;
  min-height: 100vh;
}

.navbar {
  grid-area: nav;
}

.main-col {
  grid-area: main;
}

@media screen and (max-width: 1023px) {
  .aside-col {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .app-container {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 10px;
    column-gap: 10px;
  }

  .navbar {
    grid-column: 1/3;
  }

  .aside-col {
    padding: 0 10px 0 20px;
    grid-column: 1/2;
  }

  .main-col {
    grid-column: 2/3;
  }
}
